<h1>Terms and Condition </h1>

<h3>Hello <%= params[:name] %>, we declared that your email is <%= params[:email] %>, your spoc name is <%= params[:spoc_name] %> and your spoc contact no. is <%= params[:spoc_contact] %> please check the terms and condition checkbox, thanks

