ul.show_bulk_upload_errors{
  position: relative;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  max-height: 450px;
  width: 50%;
  height: 100%;
  overflow: hidden;
}
ul.show_bulk_upload_errors.more{
  max-height: unset;
}
ul.show_bulk_upload_errors li {
  position: relative;
  padding: 10px;
  background: rgba(220, 53, 69,0.1);
  margin-bottom: 5px;
  border-radius: 6px;
  color: #dc3545;
  padding-left: 30px;
}

ul.show_bulk_upload_errors li:before {
  content: "";
  position: absolute;
  left: 12px;
  top: 15px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #dc3545;
}
.show_error_btn{
  position: absolute;
  bottom: 9px;
  left: auto;
  right: 15px;
  top: auto;
}
ul.show_bulk_upload_errors.more .show_error_btn{
  display: none;
}
.inline{
  display: inline-block !important;
}
