<div class="container max-width-75">
  <div class="custom-row">
    <div class="custom-form-element mr-20">
      <%= form.grouped_collection_select(:sub_category_ids, BxBlockCategories::Category.order(:name), :sub_categories, :name, :id, :name, {}, { class: "form-control", :multiple => true, style: "width:50%;", required: true }) %>
    </div>
  </div>
</div>
