<div class="form-group row">
  <label for="" class="col-sm-1 control-label mr_top_19">Headline*</label>
  <div class="col-sm-7">
    <div class="align-input">
      <%= text_field_tag "bx_block_contentmanagement_content[contentable_attributes][headline]", content.present? ? content.headline : '', :class => 'form-control', required: true %>
    </div>  
  </div>
</div>

<div class="form-group row">
  <label for="" class="col-sm-1 control-label">Description*</label>
  <div class="col-sm-7">
    <div class="align-textarea">
      <%= text_area_tag "bx_block_contentmanagement_content[contentable_attributes][description]", content.present? ? content.description : '', :class => "tinymce", :rows => 40, :cols => 120 %>
    </div>  
  </div>
</div>
<br>
<!-- <div class="form-group">
  <label for="" class="col-sm-3 control-label">Image</label>
  <div class="col-sm-7">
    <%#= text_field_tag "bx_block_contentmanagement_content[contentable_attributes][description]", content.present? ? content.description : '', :class => 'form-control'%>
    <%#= image_tag "bx_block_contentmanagement_content[contentable_attributes][image]", , :class => 'form-control' %>
  </div>
</div> -->
