.admin_icon {
  max-height: 500px;
  max-width: 500px;
}

.admin_video{
  max-height: 500px;
  max-width: 500px;
}
.tox.tox-tinymce {
  width: 564px !important;
}
.tox.tox-tinymce .tox-statusbar{
  display: none;
}