<div>
  <h1>Welcome, <%= @partner_name  %></h1>
  <p>
    You have successfully signed up,
    your Username is: <%= @admin_user.email %>.<br>
    Your password is : <b><%= @password %></b>
  </p>
  <p>
    To login to the site, just click on this link: <%= @url %>.
  </p>
</div>
